

.panel {
    top: 25%;
    left: 25%;
    width: 40vw;
    height: 60vh;
    min-width: 300px;
    min-height: 444px;
    position: relative;
    font-size: .8em;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
      border: white solid thin;
}
.panel .poster {
    position: absolute;
    top: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;
    webkit-transform: rotateX(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.content .back {
      
}
.content .front{

      
}
.panel.flip .poster {
    z-index: 1000;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.panel .movieInfo {
    position: absolute;
    top: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    text-align: center;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
 
    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.panel.flip .movieInfo {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

/*Non-flipping*/

.section{
      background-color: #333;
      padding: 0;
      margin: 0;
      display: flex;

}
 .section1 {
            background-color: #333;

            padding-left: 100px;
            font-size: 50px;
            padding-top: 50px;
            }
            .section2 {
            background-color: #444;
            padding-left: 100px;
            font-size: 50px;
            padding-top: 50px;
            }
            .section3 {
            background-color: #555;
            padding-left: 100px;
            font-size: 50px;
            padding-top: 100px;
            }
            body, html {
            color: #fff;
            margin: 0;
            overflow: hidden;
            -webkit-transition: opacity 400ms;
            -moz-transition: opacity 400ms;
            transition: opacity 400ms;
            }
            body, .onepage-wrapper, html {
            display: block;
            position: static;
            padding: 0;
            width: 100%;
            height: 100%;
            }
            .onepage-wrapper {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            padding: 0;
            -webkit-transform-style: preserve-3d;
            }
            .onepage-wrapper .section {
            width: 100%;
            height: 100%;
            }

            .onepage-pagination {
            display: inline;
            position: absolute;
            bottom: 10px;
            left: 50%;
            z-index: 5;
            list-style: none;

            margin: 0;
            padding: 0;
            }
            .onepage-pagination li {
            padding: 0;
            text-align: center;
            display: inline;
            }
            .onepage-pagination li a{
            padding: 10px;
            width: 4px;
            height: 4px;

            }
            .onepage-pagination li a:before{
            content: '';

            position: absolute;
            width: 4px;
            height: 4px;
            background: rgba(0,0,0,0.85);
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            }
            .onepage-pagination li a.active:before{

            width: 10px;
            height: 10px;
            background: none;
            border: 1px solid black;
            margin-top: -4px;
            bottom: 10px;
            }
            .disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
            overflow: auto;
            }
            .disabled-onepage-scroll .onepage-wrapper .section {
            position: relative !important;
            left: auto !important;
            bottom: auto !important;
            }
            .disabled-onepage-scroll .onepage-wrapper {
            -webkit-transform: none !important;
            -moz-transform: none !important;
            transform: none !important;
            -ms-transform: none !important;
            min-height: 100%;
            }
            .disabled-onepage-scroll .onepage-pagination {
            display: none;
            }
            body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
            position: inherit;
            }

